*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
button{
    border: none;
    outline: none;
    background-color: unset;
}
input{
    border: none;
    outline: none;
}
.swiper{
    max-width: 990px;
    width: 100%;
}
  .swiper-slide {
    border: 1px solid #00000054;
    border-radius: 20px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 30px 20px;
    max-height: 205px;
  }
  .swiper_card{
    &_wrapper{
      height: 250px !important;
      align-items: center;
    }
  }
.swiper-slide {
    border-radius: 20px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 30px 20px;
    max-height: 205px;
    box-shadow: 0px 5px 8px 0px #0000001A;
  }
  .students_card {
    display: flex;
    gap: 15px;
    flex-direction: column;
    &_image {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
      img {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }
    &_details {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &_content {
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }