$Manrope:('Bold',700),("Regular",400);

@each $name,$weight in $Manrope {
    @font-face {
        font-family: "Manrope";
        src: url('../fonts/Manrope/static/Manrope-#{$name}.ttf');
        font-weight: $weight;
    }
}
$Lancelot:('Bold',700),("Regular",400);

@each $name,$weight in $Lancelot {
    @font-face {
        font-family: "Lancelot";
        src: url('../fonts/Lancelot/Lancelot-#{$name}.ttf');
        font-weight: $weight;
    }
}