.about {
padding-top: 80px;
  @include media(1000){
  padding-top: 60px;
  }
  &_topLayout {
    &_title {
      text-align: center;
      color: #7a7156;
      font-size: 80px;
      font-family: "Lancelot";
      @include media(1000){
        font-size: 60px;
      }
    }
    &_txt {
      text-align: center;
      color: #7a7156;
      font-size: 36px;
      margin-bottom: 60px;
      @include media(1000){
        font-size: 30px;
        margin-bottom: 50px;
      }
    }
  }
  &_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  &_item {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
    &_img {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
      p {
        font-size: 24px;
        color: #7a7156;
      }
    }
    &_txt {
      font-size: 22px;
      color: #b2aea0;
      font-weight: 400;
      margin-bottom: 100px;
      @include media(1050){
        margin-bottom: 60px;
        font-size: 18px;
      }
      span {
        font-weight: 700;
      }
    }
  }
  &_bottomLayout {
    height: 590px;
    &_cards {
      position: relative;
      &_img {
        position: absolute;
    top: 0;
    left: -110px;
    width: 600px;
    @include media(1000){
      top: 98px;
      left: -70px;
    width: 500px;
    }
      }
    }
    &_card {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 400px;
    }
    &_owner {
      font-size: 36px;
      color: #7a7156;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 18px;
      @include media(1000){
        font-size: 30px;
        margin-bottom: 16px;
        text-align: center;
      }
    }
    &_name {
      font-size: 80px;
      font-family: "Lancelot";
      color: #7a7156;
      margin-bottom: 14px;
      @include media(1000){
        font-size: 60px;
        margin-bottom: 12px;
        text-align: center;
      }
    }
    &_txt {
      font-size: 24px;
      color: #b2aea0;
      margin-bottom: 28px;
      @include media(1000){
        font-size: 20px;
        margin-bottom: 24px;
        text-align: center;
      }
    }
    &_list {
      display: flex;
      align-items: center;
      gap: 30px;
      @include media(850){
        gap: 15px;
        justify-content: center;
      }
    }
    &_item {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 18px;
      font-weight: 700;
      color: #B2AEA0;
      span {
        text-align: center;
        padding: 22px 28px;
        transition: 0.4s;
        border-radius: 20px;
        border: 2px solid #edbfe3;
        color: #7a7156;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 95px;
        width: 118px;
        margin-bottom: 12px;
        font-size: 24px;
        @include media(1000){
          padding: 20px 26px;
          width: 100px;
          font-size: 22px;
        }
        &:hover {
          background: #edbfe3;
          color: #fff;
        }
      }
    }
  }
}
