.about {
    padding: 100px 0 0 0 ;
    &_topLayout{
&_title{
    text-align: center;
    color: #7A7156;
    font-size: 80px;
    font-family: "Lancelot";
}
&_txt{
    text-align: center;
    color: #7A7156;
    font-size: 36px;
margin-bottom: 60px;
}
    }
  &_list {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &_item {
    &_img {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
      p{
        font-size: 24px;
        color: #7A7156;

      }
    }
    &_txt{
        width: 270px;
        font-size: 22px;
        color: #B2AEA0;
        font-weight: 400;
        margin-bottom: 140px;
    span{
        font-weight: 700;
    }
    }
  }
  &_bottomLayout{
    &_list{
        display: flex;
        align-items: center;
     gap: 30px;
    }
    &_item{
        display: flex;
        align-items: center;
        flex-direction: column;
        span{
            padding: 22px 32px;
            transition: 0.4s;
            border-radius: 20px;
            border: 2px solid #EDBFE3;
            &:hover{
                background: #EDBFE3;
            }
        }
    }
  }
}
