.header {
  height: 100vh;
  background: #e8afb0;
  padding-top: 100px;
  overflow: hidden;
  &_box {
    position: relative;
   @include media(780){
    width: 100%;
    height: 85vh;
   }
  }
  &_list{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 70px 0 0 0 ;
    @include media(850){
      padding: unset ;
    }
  }
  &_title{
    font-family: "Lancelot";
    font-size: 100px;
    width: 520px;
    color: #7A7156;
    margin-bottom: 12px;
    @include media(950){
      font-size: 80px;
      width: min-content;
    }
    @include media(850){
      font-size: 100px;
      margin: unset;
    }
  }
  &_txt{
    font-size: 22px;
    width: 560px;
    color: #fff;
    font-weight: 400;
    line-height: 35.52px;
    margin-bottom: 60px;
    @include media(970){
      width: 400px;
      margin-bottom: 20px;
    }
    @include media(830){
      margin-bottom: 10px;
        font-size: 18px;
    }
    span{
        font-weight: 700;
    }
  }
  &_img {
    img {
      position: absolute;
      bottom: -100%;
      right: -20%;
      object-fit: cover;
      object-position: top;
      width: 850px;
      @include media(1050){
        width: 750px;
        bottom: -80%;
        right: -15%;
      }
      @include media(950){
        width: 750px;
        bottom: -100%;
        right: -20%;
      }
      @include media(830){
        width: 650px;
        bottom: -130%;
        right: -20%;
      }
      @include media(780){
        bottom: unset;
        left: 40px;
      }
    }
  }
  &_btn{
    @include media(780){
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      right: 30%;
    }
    img{
      width: 200px;
    height: 100%;
    @include media(780){
     position: absolute;
     right: -30px;
    }
    }
  }
}
