.header {
  height: 100vh;
  background: #e8afb0;
  padding-top: 100px;
  overflow: hidden;
  &_box {
    position: relative;

  }
  &_list{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 70px 0 0 0 ;
  }
  &_title{
    font-family: "Lancelot";
    font-size: 120px;
    width: 520px;
    color: #7A7156;
    margin-bottom: 12px;
  }
  &_txt{
    font-size: 26px;
    width: 560px;
    color: #fff;
    font-weight: 400;
    line-height: 35.52px;
    margin-bottom: 60px;
    span{
        font-weight: 700;
    }
  }
  &_img {
    img {
      position: absolute;
      top: 0;
      right: -220px;
      object-fit: cover;
      object-position: top;
      width: 750px;
      min-height: 1300px;
    }
  }
}
