.footer{
    &_list{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &_item{
        width: 360px;
        display: flex;
        flex-direction: column;
    }
    &_title{
        font-size: 32px;
        color: #7A7156;
        margin-bottom: 10px;
    }
    &_txt{
        font-size: 20px;
        color: #A7A290;
        margin-bottom: 30px;
    }
    &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; 
      
        img {
          width: 425px; 
        }
      }
}