.cabinate{
    height: 100vh;
    background: #e8afb0;
    overflow: hidden;
    &_nav{
        &_logo{
            display: flex;
            align-items: center;
            gap: 10px;
            width: 300px;
            color: #fff;
            font-size: 20px;
        }
        &_list{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &_item{
            &_txt{
                color: #fff;
                font-size: 20px;
            }
        }
    }
    &_box{
        position: relative;
    }
    &_title{
        width: 450px;
        margin-bottom: 20px;
        font-size: 80px;
        color: #7A7156;
        font-family: "Lancelot";
    }
    &_txt{
  margin-bottom: 50px;
  font-size: 28px;
  color: #fff;
    }
    &_card{
        padding-top: 100px;
        width: 590px;
    }
        &_owner{
            position: absolute;
            bottom: -25%;
            right: -110px;
            width: 600px;
        }
}