.cabinate{
    height: 100vh;
    background: #e8afb0;
    overflow: hidden;
    &_nav{
        &_logo{
            display: flex;
            align-items: center;
            gap: 10px;
            width: 300px;
            color: #fff;
            font-size: 20px;
            @include media(800){
                width: 200px;
            }
               img{
                @include media(800){
                    width: 80px;
                    height: 80px;
                }
               }
               p{
    @include media(800){
        font-size: 14px;
    }
               }
        }
        &_list{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &_item{
            &_txt{
                color: #fff;
                font-size: 20px;
                @include media(500){
                    font-size: 16px;
                }
            }
        }
    }
    &_box{
        position: relative;
    }
    &_title{
        width: 450px;
        margin-bottom: 20px;
        font-size: 80px;
        color: #7A7156;
        font-family: "Lancelot";
        line-height: 60px;
    }
    &_txt{
  margin-bottom: 50px;
  font-size: 28px;
  color: #fff;
  @include media(700){
    font-size: 22px;
    width: 450px;
    margin-bottom: 25px;
  }
  @include media(500){
    width: 70%;
  }
    }
    &_card{
        padding-top: 100px;
        width: 590px;
        @include media(600){
            padding: 25px 0 0 0 ;
        }
    }
    &_btn{
        img{
            width: 300px;
        }
    }
        &_owner{
            position: absolute;
            bottom: -50%;
            right: -110px;
            width: 600px;
            @include media(900){
                width: 500px;
                bottom: -60%;
            }
            @include media(600){
                bottom: -85%;
            }
            @include media(550){
                width: 400px;
                bottom: -90%;
                right: 10%;
            }
        }
}