.cabinate{
    &_box{
        position: relative;
    }
    &_card{
        img{
            position: absolute;
            top: 0;
            right: -110px;
            width: 600px;
        }
    }
}