.question {
  &_title {
    text-align: center;
    font-size: 86px;
    color: #7a7156;
    font-family: "Lancelot";
    margin-bottom: 12px;
    @include media(1000){
      font-size: 60px;
    }
  }
  &_txt {
    text-align: center;
    font-size: 36px;
    color: #7a7156;
    font-weight: 700;
    margin-bottom: 70px;
    @include media(1000){
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
  &_list{
    margin-bottom: 80px;
    @include media(1000){
      margin-bottom: 60px;
    }
  }
  &_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #7a7156;
    padding: 30px 0 20px 0 ;
    &_txt {
      font-size: 22px;
      color: #7a7156;
      @include media(900){
        font-size: 18px;
      }
      @include media(800){
        font-size: 16px;
      }
    }
    &_txt1{
        display: block;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: 0.5s;
        &.activ {
            transition: 0.5s;
          opacity: 1;
          max-height: 500px;
          font-weight: 700;
          font-size: 18px;
          color: #7a7156;
          margin-top: 20px;
          @include media(900) {
            margin-top: 10px;
            font-size: 12px;
          }
          @include media(600){
            font-size: 8px ;
          }
        }
    }
    &_btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #efc6e6;
      color: #7a7156;
      font-size: 28px;
      box-shadow: 0px 9px 6px 0px #d3abca36;
      @include media(850){
        width: 35px;
        height: 35px;
        font-size: 18px;
      }
    }
  }
}
