.training {
    background: #e8afb0;
    padding: 100px 0 130px 0 ;
    &_title{
        font-family: "Lancelot";
        text-align: center;
        font-size: 80px;
        color: #fff;
        margin-bottom: 10px;
    }
    &_txt{
        text-align: center;
        font-size: 36px;
        color: #fff;
        margin-bottom: 70px;
    }
  &_list {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 55px;
  }
  &_item {
    box-shadow: 0 10px 30px 0 rgb(81 81 81 / 41%);
    width: 360px;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    &_txt {
      text-align: center;
    }
    &_imgs {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &_table {
      position: absolute;
      bottom: 0;
    }
    &_cake {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
.students{
  padding: 122px 0 0 0 ;
    &_title{
        font-family: "Lancelot";
        text-align: center;
        font-size: 80px;
        color: #7A7156;
        margin-bottom: 10px;
    }
    &_txt{
        text-align: center;
        font-size: 36px;
        color: #7A7156;
        margin-bottom: 75px;
    }
    &_card{

        &_info{
            h3{
                font-size: 22px;
                color: #7A7156;
                font-weight: 700;
            }
        }
        &_image{
            &_img{
                width: 40px;
                height: 40px;
            }
        }
        &_old{
            color: #B2AEA0;
        }
        &_txt{
            font-size: 14px;
            color: #7A7156;
        }
    }
}
.studentss{
padding-bottom: 50px;
  background: #e8afb0;
    &_title{
        font-family: "Lancelot";
        text-align: center;
        font-size: 80px;
        color: #fff;
        margin-bottom: 10px;
    }
    &_txt{
        text-align: center;
        font-size: 36px;
        color: #fff;
        margin-bottom: 75px;
    }
    &_card{
        &_info{
            h3{
                font-size: 22px;
                color: #7A7156;
                font-weight: 700;
            }
        }
        &_image{
            &_img{
                width: 40px;
                height: 40px;
            }
        }
        &_old{
            color: #B2AEA0;
        }
        &_txt{
            font-size: 14px;
            color: #7A7156;
        }
    }
}
.cackeImg{
    background: #e8afb0;
    padding: 50px 0 50px 0 ;
    &_title{
        font-size: 36px;
        color: #fff;
    }
    &_txt{
        font-size: 80px;
        color:#fff;
        font-family: "Lancelot";
        line-height: 91px;
    }
}
.swiper-slide{
    background: #fff;
}





  
