.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 0 0 0 ;
  &_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 280px;
    cursor: pointer;
    p {
      font-size: 20px;
      font-weight: 400;
      color: #fff;
    }
  }
  &_list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &_link{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
}
